*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
    scrollbar-width: none;
}

/* myCode */
body {
  font-family: "Quicksand";
}
header {
  color: white;
  background-color: rgb(30 41 59);
}
header .hero {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.hero .hero-image {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navigation {
  background-color: rgb(51 65 85);
}
.navigation nav ul{
  display: flex;
}
.navigation li {
  padding: 10px;
  height: 40px;
  list-style-type: none;
}
.navigation a{
  text-decoration: none;
  color: white;
}
li:hover {
  background-color: rgb(30 41 59);
}
.fasilitas {
  position: relative;
}
li:hover .sub-nav {
  display: block;
}
.sub-nav-kolam1:hover .sub-nav-2 {
  display: block;
}
.sub-nav-kolam2:hover .sub-nav-3 {
  display: block;
}
.fasilitas .sub-nav{
  display: none;
  position: absolute;
  width: 160px;
  left: 0;
  top: 40px;
  background-color: rgb(51 65 85);
}
.fasilitas .sub-nav-2 {
  display: none;
  position: absolute;
  width: 270px;
  left: 160px;
  top: 40px;
  background-color: rgb(51 65 85);
}
.fasilitas .sub-nav-3 {
  display: none;
  position: absolute;
  background-color: rgb(51 65 85);
  top: 40px;
  left: 270px;
}
.sub-nav ul {
  flex-direction: column;
}
main{
  display: flex;
}

main .video-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 25%;
  background-color: rgb(71 85 105);
}
main .content {
  padding: 10px;
  width: 75%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
  background-color: aliceblue;
}
.image-cover {
  width: 250px;
  height: 130px;
  overflow: hidden;
}
.content img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: rgb(51 65 85);
}